.record {
    width: 100%;
    height: auto;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    margin-top: 7.5vh;
}

.webcam {
    grid-column: 1;
    grid-row: 1;
}

.description {
    grid-column: 1;
    grid-row: 2;
}

.components {
    grid-column: 1;
    grid-row: 3;
}

.webcam {
    height: auto;
    background-color: #F2F2F8;
}

.webcam__preview {
    width: 100%;
    height: auto;
    position: sticky;
    z-index: 0;
    background-color: #ededf5;
}

.webcam__buttons {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 2rem;
}
.webcam__btn {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    border-radius: 1rem;
    border: none;
    transition: filter 0.1s ease-out;
}
.webcam__btn:hover {
    cursor: pointer;
    filter: brightness(1.05);
}

.webcam__btn--start,
.webcam__btn--stop   {
    height: 5rem;
    width: 5rem;
    border-radius: 1.5rem;
    margin-right: 2rem;
}

.webcam__btn--start {
    background: linear-gradient(135deg, #EA6F6F -50%, #BA3030 150%);
}

.webcam__btn--stop {
    background: linear-gradient(135deg, #EA6F6F -50%, #BA3030 150%);
    animation: pulse 1s infinite;
}

.webcam__btn--close,
.webcam__btn--open {
    background: linear-gradient(135deg, #4CA5FC -50%, #2D78CC 150%);
}

.webcam__btn__img--start,
.webcam__btn__img--stop{
    width: 4rem;
    height: 4rem;
}

.webcam__btn__img--close,
.webcam__btn__img--open {
    width: 2rem;
    height: 2rem;
}

.webcam__buttons__timer {
    width: 12rem;
}
.webcam__buttons__timer--max {
    margin-left: 1rem;
    font-size: 1.25rem;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(234, 111, 111, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(234, 111, 111, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(234, 111, 111, 0);
	}
}

.description {
    padding: 4rem 2.5rem;
}

.description__title {
    font-size: 2rem;
    font-weight: 600;
}

.description__description {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1rem;
    color: #5A6080;
}

.components {
    background-color: #F2F2F8;
    width: auto;
}

.components__list {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    padding: 6rem 4rem 6rem 4rem;

    width: auto;
}

.components__list__item, 
.components__list__item--next {
    width: 30rem;
    height: 20rem;
    background-color: #fff;
    padding: 2.5rem;
    margin-right: 4rem;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 5px 15px rgba(6, 29, 69, 0.1);
    transition: transform 0.1s ease-out;
    flex: 0 0 auto;
}
.components__list__item:hover {
    cursor: pointer;
}
.components__list__item--active {
    transform: scale(1.05);
}

.components__list__item__titel--recorded {
    font-size: 1.4rem;
    font-weight: 500;
    color: #5A607F;
    position: absolute;
    top: -3rem;
    left: 0rem;
    width: 25rem;
}

.components__list__item__titel {
    font-size: 1.75rem;
    font-weight: 500;
    color: #061D45;
    margin-bottom: 2rem;
}

.components__list__item__subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: #767c96;
    font-weight: 400;
}

.components__list__item__video {
    width: 100%;
    height: auto;
}

.components__next__btn {
    padding: 2rem 4rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;

    transition: filter 0.1s ease-out;
}
.components__next__btn:hover {
    cursor: pointer;
    filter: brightness(1.15);
}


@media (min-width: 1000px) {
    .record {
        margin-top: 7.5vh;
    }

    .webcam {
        padding: 0rem 25%;
    }
    
    .description {
        padding: 5rem 25%;
    }
    
    .components {
        padding: 0rem 0rem 0rem 0rem;
    }
    .components__list {
        padding: 6rem 6rem 6rem 6rem;
        -webkit-overflow-scrolling: auto;
    }

    .webcam__preview {
        margin-top: 5vh;
        width: 100%;
        height: auto;

        border-radius: 2rem;
        background-color: #dfdfeb;
    }

    .webcam__buttons {
        padding: 5rem 0rem;
    }

}