// grid
.record {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50% auto;
}

.webcam {
    grid-column: 1;
    grid-row: 1;
}

.description {
    grid-column: 1;
    grid-row: 2;

    background-color: rgb(243, 243, 243);
}

.components {
    grid-column: 1;
    grid-row: 3;
}

// webcam
.webcam {
    position: relative;
}

.webcam__preview {
    width: 100%;
    height: 100%;
}

.webcam__buttons {
    position: absolute;

    bottom: 0;

    height: 13vh;
    width: 100%;   

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
}

.webcam__btn {
    font-size: 1.25rem;
}

.webcam__btn-open, .webcam__btn-close {
    height: 6rem;
    padding: 0rem 2rem;
}
.webcam__btn-start, .webcam__btn-stop {
    height: 6rem;
    padding: 0rem 2rem;

    margin-right: 2rem;
}


// description
.description {
    padding: 2rem;
}


// components
.components {
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    padding: 2rem;
}

.components__card__video {
    width: 100%;
    height: auto;
}
