.userprofile{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    background-color: #fbfbfb;
}

.userprofile-content{
    grid-column: 2;
}

.userprofile-content__info{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 2rem;

    img{
        grid-column: 1;
        width: 10rem;
        height: 10rem;
    }
}

.userprofile-content__info__textdiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userprofile-content__info__textdiv1{
    font-weight: bold;
    font-size: 1.6rem;
}

.userprofile-content__info__textdiv2{
    line-height: 2;
}


.userprofile-content__card{
    border: 1px solid #bbb;
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem 0;
    background-color: #fff;

    h2{
        span{
            cursor: pointer;
        }
    }
}

.userprofile-content__edit{
    cursor: pointer;
    h2{
        text-align: center;
    }
}

.userprofile-content__edit__link{
    text-decoration: none;
}

.userprofileedit{
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.userprofileedit__form{
    grid-column: 2;

    label{
        display: block;
    }

    h2{
        margin-top: 2rem;
    }
}
