h2 {
    color: var(--color-accent);
}

.login{
    width: 80%;
    background-color: #fff;
    box-shadow: 0px 5px 25px rgba(6, 29, 69, 0.1);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    text-align: center;
}

.login__form__container{
    position: relative;
    
}

.login__form__container__input{
    outline: 0;
    border-width: 0 0 2px;
    border-color: #A3A6BA;
    width: 100%;
}

.login__form__container__input:focus{
    border-color: #28406A;
    
}

.login__form__container__placeholder{
    color: #65657b;
    pointer-events: none;
    position:absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
}

.login__form__container__input:focus ~ .login__form__container__placeholder,
.login__form__container__input:not(:placeholder-shown) ~ .login__form__container__placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}   

.login__form__container__input:not(:placeholder-shown) ~ .login__form__container__placeholder {
    color:#28406A;
}

.login__form > button
{
    font: inherit;
    background-color: #28406A;
    color: #fff;
    border: 0.1rem solid var(--color-accent);
    border-radius: 2rem;
    padding: 1rem 4rem;
    cursor: pointer;
    width: 80%;
    margin-bottom: 1rem;
}

.login__form__register{
    font: inherit;
    display: inline-block;
    background-color: #fff;
    color: #28406A;
    border: 0.2rem solid #28406A;
    border-radius: 2rem;
    padding: 1rem 4rem;
    cursor: pointer;
    width: 80%;
    text-decoration: none;
    margin-bottom: 2rem;
}

.login__form > p {
    margin-bottom: 1rem;
}

.login__form__forgot {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    display: block;
    text-align: right;
    font-size: 1.2rem;
}

.c1{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media (min-width: 750px) {
    
}
