:root {
    --userprofile-grid-mobile: 5% 90% 5%;
    --userprofile-grid-desktop: 20% 60% 20%;
}

.userprofile {
    display: grid;
    grid-template-columns: var(--userprofile-grid-mobile);
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.userprofile p {
    color: var(--color-text-light);
}

.userprofile-content {
    grid-column: 2;
}

.userprofile-content__info {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.userprofile-content__info__img {
    grid-column: 1;
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    object-fit: cover;
    background-color: #e9e9f5;
}

.userprofile-content__info__textdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.userprofile-content__info__textdiv1 {
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-text);
}

.userprofile-content__info__textdiv2 {
    text-align: right;
}

.userprofile-content__card {
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem 0;
    background-color: #fff;
    box-shadow: 0px 5px 25px rgba(6, 29, 69, 0.1);
    -moz-box-shadow: 1px 5px 29px 4px #081f4710;
}

.userprofile-content__card h2 {
    color: var(--color-text);
    margin-bottom: 1rem;
}

.userprofile-content__edit {
    border: none;
    color: #fff;
    background-color: #28406A;
    width: 100%;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    text-decoration: none;
    border: none;
    display: block;
    padding: 1.5rem 0rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
}

.userprofile-content__edit__link > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: background-color 0.1s ease-out;
}

.userprofile-content__edit:hover {
    background-color: #4CA5FC;
}
.userprofile-content__grid {
    margin-top: 2rem;
}
.userprofile-content__grid__video > video {
    border-radius: 1rem;
}

.userprofile-content__grid__skills > p,
.userprofile__form__skill {
    display: inline-block;
    background-color: #28406A;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 1rem 1rem 0;
    border-radius: 1rem;
    transition: all 0.2s;
}

.userprofile__form__skill:hover {
    background-color: red;
    text-decoration: line-through;
    cursor: pointer;
}

@media (min-width: 62.5em) {
    .userprofile{
        grid-template-columns: var(--userprofile-grid-desktop);
    }

    .userprofile-content__card:nth-child(1), .userprofile-content__card:nth-child(3), .userprofile-content__card:nth-child(5) {
        margin-right: 1rem;
    }

    .userprofile-content__card:nth-child(2), .userprofile-content__card:nth-child(4) {
        margin-left: 1rem;
    }

    .userprofile-content__info {
        margin-top: 2rem;
    }

    .userprofile-content__grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .userprofile-content__grid__video > video {
        height: 75%;
    }
}



/* .userprofileedit {
    display: grid;
    grid-template-columns: var(--userprofileedit-grid-mobile);
    margin-top: 10vh;
}

.userprofileedit h2{
    margin: 1rem 0;
    color: var(--color-text);
}

.userprofileedit__form{
    grid-column: 2;
}

.userprofileedit__form label {
    display: block;
}

.userprofileedit__form input{
    font-family: inherit;
    padding: 1rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 1rem;
    border: solid 1px #bbb;
    width: 100%;
    box-shadow: 1px 5px 29px 4px #081f4710;
    -webkit-box-shadow: 1px 5px 29px 4px #081f4710;
    -moz-box-shadow: 1px 5px 29px 4px #081f4710;
}

.userprofileedit__form__file {
    cursor: pointer;
}

.userprofileedit__form__button {
    font-family: 'Poppins', sans-serif;
    margin: 1rem 2rem 2rem 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    transition: filter 0.2s ease-out;
    padding: 1rem 2rem;
    text-decoration: none;
}

.userprofileedit__form__button--add, .userprofileedit__form__button {
    background-color: var(--color-accent);
}

.userprofileedit__form__button--remove, .userprofileedit__form__button--cancel {
    background-color: red;
}

.userprofileedit__form button > a {
    text-decoration: none;
    color: inherit;
}

.userprofileedit button:hover {
    filter: brightness(1.20);
    cursor: pointer;
} */
