h2 {
    color: var(--color-accent);
}

button
{
    font: inherit;
    background-color: var(--color-accent);
    color: var(--color-text-light);
    border: 0.1rem solid var(--color-accent);
    border-radius: 0.3rem;
    padding: 1rem 4rem;
    cursor: pointer;
}
